.App {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-size: 11px;
  font-family: Verdana, Arial;
  background-color: #000156;
  color: #ffffff;
  background-image: url("./images/squirrels.gif");
  font-family: Verdana, Arial;
}

.body-wrapper {
  /* margin: 0% 2%; */
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #000156;
  /* margin: 0 4%; */
  border: 3px solid black;
  max-width: 800px;
  margin: 0 auto 0 auto;
  justify-content: center;
  position: relative;
}

/* LISTS */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* LINKS */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* LAYOUT */
#container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  /* background-color: #100c6b; */
  /* margin: 0 1em; */
}

.bk-logo {
  display: flex;
}

/* HEADER */
.header-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #100c6b;
  width: 750px;
}

.header-top {
  display: flex;
  order: 1;
  width: auto;
  height: 100%;
  align-items: top;
  justify-content: space-between;
}

.header-bottom {
  display: flex;
  order: 2;
  width: auto;
  background-color: #003188;
  border-bottom: 1.2px solid black;
}

.online-display {
  display: flex;
  text-align: right;
  padding: 0 4px;
}
a {
  font-size: 10px;
  color: #0099ff;
}

a:hover {
  font-size: 10px;
  color: #0000ff;
}

/* NAVBAR */
.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #100c6b;
  width: auto;
  position: relative;
}

.navLink {
  flex: 1;
  padding: 2px;
  margin: 2px;
  border: solid #141077;
  width: 100%;
  max-width: 675px;
  cursor: pointer;
}

.navLink:hover {
  background-color: #003188;
  border: solid #141077;
}

.navLink a {
  font-weight: bold;
  font-family: Verdana, Arial;
  font-size: 12px;
  color: #86aeff;
  text-decoration: none;
  flex: 1;
}

.dropdown-menu {
  top: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(14, 11, 96);
  border: 1px solid #000000;
  text-align: left;
  align-items: flex-start;
}

.dropdown-item a {
  font: 12px Verdana, Arial;
  top: 100%;
  padding: 0 2px;
  color: #0099ff;
  /* z-index: 1; */
}

.dropdown-item a:hover {
  text-decoration: underline;
  color: blue;
}

/* LOGIN-BAR */

.login-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(13, 10, 84);
  border-top: 1.2px solid black;
  border-bottom: 1.2px solid black;
}

.login-left {
  display: flex;
  flex: 1;
  padding: 0 4px;
}

.login-right {
  display: flex;
  text-align: right;
  padding: 0 4px;
}

.login-right-top {
  display: flex;
  text-align: right;
}
.login-right-bottom {
  display: flex;
  text-align: right;
  justify-content: right;
}

.login-form {
  display: flex;
  padding: 0 10px;
}

.form-group {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 2px;
  /* background-color: none; */
}

.compact {
  background-color: #141077 !important;
  font-family: verdana;
  border: #000000 1px solid;
  font-size: 10px;
  color: white;
}

/* FOOTER */
.footer-wrapper {
  position: sticky;
  flex-direction: column;
  /* max-width: 800px; */
  background: none;
  position: relative;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
}
.footer-links a:hover {
  font-size: 10px;
}
